#infos ul{
    background-color: rgb(107, 64, 107);
    display: flex;
    flex-direction:column;
    gap: 20px;
    width: 60%;
    border-radius: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}
#enviar{
    width: 70px;
    height: 50px;
    border: 2px solid rgb(74, 20, 124);
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(139, 101, 201);
}


.infos1, .infos2, .infos3{
    background-color: rgb(147, 199, 104);
    padding: 7px;
    border: 1px solid black;
    border-radius: 10px;
    width: 40%;  
}

