body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(183, 206, 216);
}

.titulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: rgb(248, 243, 243);
    width: 700px;
    border: 2px solid rgb(144, 61, 221); 
    border-radius: 30px;
}

.info_pessoais, .formacao, .experiencia, .video, .foto{
    h2{
        color: white;
        font-size: 28px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         text-shadow: 
        -2px -2px 0 rgb(132, 101, 172),  
         2px -2px 0 rgb(132, 101, 172),  
        -2px  2px 0 rgb(132, 101, 172),  
         2px  2px 0 rgb(132, 101, 172);  

    }
    ul{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px;    
    }
    #link{
        color: black;
        text-decoration: none;
    }
    img{
        border-radius: 30px;
    }
}


